{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CraftCMS RouterOS manager plugin for Craft CMS
 *
 * ExecuteCommand Widget Body
 *
 * @author    Paul Rock
 * @copyright Copyright (c) 2021 Paul Rock
 * @link      https://github.com/EvilFreelancer
 * @package   \RouterOS\Manager
 * @since     0.1
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@evilfreelancer/craftcmsrouterosmanager/assetbundles/executecommandwidget/dist', true) ~ '/img/ExecuteCommand-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
